.side-ber
  -if user_signed_in?
    .user_nav-grid-6
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "out"
      %a.post{ :href => '/comments/new'} 記事投稿
  -else
    .gird-6
      = link_to "ログイン", new_user_session_path, class: "post"
      = link_to "新規登録", new_user_registration_path, class: "post"