.content
  .view 
    %h4 質問投稿一覧
  .questions
    -@questions.each do |question|
      .question
        .question__text
          =question.title
        .question__text
          =question.body
        .question__text
          =question.result
  .question_btn
    =link_to "助けを求める！", 'questions/new', class: 'rec'