.content-show
  .view 
    %h4 質問の詳細
  .usersquestion
    .question-title
      #post-font= @question.title
    .question-body
      #post-font= @question.body
    .question-result
      #post-font= @question.result