.content
  .view 
    %h4 #{@user.nickname}さんの質問一覧
  .questions
    -@questions.each do |question|
      .question
        .question__text
          %p.question-helpman \^∆^/help~!!
          =link_to "#{question.title}", question_path(question.id), method: :get, class: 'question__title' 
        .question__user
          %p.que-myname #{question.user.nickname}
          -# = link_to "#{question.user.nickname}", users_path(question.user.id), class: 'myname'
  .question_btn
    =link_to "助けを求める！!", new_question_path, class: 'rec'