.content
  .view 
    %h4 マイページ(#{current_user.nickname})
  .questions
    -@questions.each do |question|
      .question
        .question__text
          =link_to "#{question.title}", question_path(question.id), method: :get, class: 'question__title' 
        .question__user
          =question.user.nickname
  .question_btn
    =link_to "助けを求める！!", new_question_path, class: 'rec'