* {
  box-sizing: border-box;
}

.content-show {
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  height: 100%;
  background-color: rgb(255, 255, 230);
  .view {
    font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    right: 300px;
    z-index: 1;
    background: linear-gradient(-520deg, rgba(201, 255, 251, 0.904), rgba(247, 253, 255, 0.904), rgba(255, 255, 151, 0.904));
    h4 {
      position: relative;
      left: 230px;
      margin-right: 200px;
    }
  }
}

.usersquestion__body {
  width: 100%;
  height: 100%;
  padding: 40px 90px;
  position: relative;
  top: 96px;
  margin: 30px 0;
  border: ridge 20px rgb(244, 255, 83);
  background-color: rgb(255, 244, 226);
  .question-db {
    margin-bottom: 50px;
    .question-form-rec {
      font-size: 150%;
      border-bottom: double 6px rgba(151, 133, 255, 0.904);
    }
    #post-font {
      color: rgb(110, 110, 110);
      font-size: 110%;
    }
  }
  .querstion-host {
    display: block;
    margin-right: 550px;
    position: relative;
    top: 30px;
  }
  .question__time {
    position: absolute;
    transform: skew(-20deg);
    bottom: 0;
    right: 50px;
    color: rgb(194, 114, 114);
    border-bottom: solid 0.5px rgb(160, 127, 123);
  }
}

.answers {
  width: 100%;
  height: 100%;
  padding: 30px 90px;
  position: relative;
  top: 96px;
  margin-bottom: 30px;
  .tenkoeitiran {
    color: yellow;
    text-align: center;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
  }
  .answers-show {
    padding: 30px 30px;
    margin-top: 70px;
    width: 100%;
    border: dotted #ffe600;
    background-color: rgb(255, 244, 226);
    .answer-myname {
      display: block;
    }
    .answer-is-current_user {
      color: rgb(139, 218, 21);
    }
  }
}

.answer-form-gun {
  width: 100%;
  height: 100%;
  padding: 30px 90px;
  position: relative;
  top: 96px;
  margin-bottom: 30px;
  display: block;
  background-color: rgb(255, 255, 230);
  .answer-form {
    display: block;
    position: relative;
    left: 90px
  }
  .submit-btn {
    display: block;
    position: relative;
    left: 90px;
    bottom: 5px;
  }
}

.comment-nal {
  color: yellow;
  text-align: center;
  -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

