* {
  box-sizing: border-box;
}

header {
  font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
  height: 60px;
  width: 100vw;
  position: fixed;
  background: linear-gradient(yellow, rgb(247, 253, 255), yellow);
  z-index: 1;
  text-align: center;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: yellow;
  }
}

.content{
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  height: 100%;
  .view {
    font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    right: 300px;
    z-index: 1;
    background: linear-gradient(-520deg, rgba(201, 255, 251, 0.904), rgba(247, 253, 255, 0.904), rgba(255, 255, 151, 0.904));
    h4 {
      position: relative;
      left: 230px;
      margin-right: 200px;
    }
  }

  .questions {
    width: 100%;
    height: 100%;
    padding: 40px 60px 150px;
    position: relative;
    top: 96px;
    background-color: rgb(255, 255, 230);
    .question {
      position: relative;
      text-decoration: none;
      height: 200px;
      margin: 0 auto 30px;
      padding-left: 30px;
      padding-right: 10px;
      border-top: dashed 5px rgb(255, 213, 134);
      border-bottom: dashed 5px rgb(255, 213, 134);
      background-color: rgb(255, 242, 219);
      overflow: scroll;
      &__text {
        word-break: break-all;
        padding-top: 15px;
        width: 800px;
        height: 100%;
        float: left;
        border-right: ridge 5px rgb(255, 244, 214);
        .question-helpman{
          width: 160px;
          background-color: rgb(228, 190, 213);
          margin: 0 0;
          color: yellow;
          font-size: 200%;
          font-weight: 6;
          transform: rotate(-10deg);
          position: relative;
          left: -35px;
          top: -15px;
        }
        .question__title {
          color: rgb(110, 110, 110);
        }
      }
      &__user {
        float: right;
        width: 160px;
        word-break: break-all;
        padding-top: 15px;
      }
    }
  }
  .rec {
    display: block;
    position: fixed;
    color: rgb(255, 255, 255);
    font-weight: 700;
    -webkit-text-stroke: 0.2px rgb(146, 19, 119);
    text-align: center;
    bottom: 50px;
    right: 360px;
    height: 100px;
    width: 200px;
    z-index: 2;
    background: linear-gradient(-520deg, rgb(255, 185, 249), rgb(212, 244, 255));
    padding: 40px 30px;
    text-decoration: none;
    border-radius: 60px;
  }
}

.side-ber {
  width: 300px;
  height: 100vh;
  // background-color: linear-gradient(#05FBFF, yellow);
  background: linear-gradient(rgb(217, 244, 255), yellow);
  position: fixed;
  right: 0;
  top: 60px;
  float: left;
  .myname {
    display: block;
    text-decoration: none;
  }
  .out {
    display: block;
    text-decoration: none;
  }

  .category-selection {
    margin-top: 70px;
    margin-left: 50px;
    .category-nal {

    }
    .category-min {
      display: block;
      margin: 3px;
    }
  }
}

