* {
  box-sizing: border-box;
}

header {
  font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
  height: 60px;
  width: 100vw;
  position: fixed;
  background: linear-gradient(yellow, rgb(247, 253, 255), yellow);
  z-index: 1;
  text-align: center;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: yellow;
  }
}

.content{
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  height: 100%;
  .view {
    font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    right: 300px;
    z-index: 1;
    background: linear-gradient(-520deg, rgba(201, 255, 251, 0.904), rgba(247, 253, 255, 0.904), rgba(255, 255, 151, 0.904));
    h4 {
      position: relative;
      left: 180px;
      margin-right: 150px;
    }
  }
  .questions {
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    position: relative;
    top: 96px;
    .question {
      margin: 0 auto 30px;
      padding: 0 auto;
      overflow: scroll;
      &__text {
        word-break: break-all;
      }
    }
  }
  .rec {
    display: block;
    position: fixed;
    color: rgb(255, 255, 255);
    font-weight: 700;
    -webkit-text-stroke: 0.2px rgb(146, 19, 119);
    text-align: center;
    bottom: 50px;
    right: 360px;
    height: 100px;
    width: 200px;
    z-index: 2;
    background: linear-gradient(-520deg, rgb(255, 185, 249), rgb(212, 244, 255));
    padding: 40px 30px;
    text-decoration: none;
    border-radius: 60px;
  }
}

.side-ber {
  width: 300px;
  height: 100vh;
  // background-color: linear-gradient(#05FBFF, yellow);
  background: linear-gradient(rgb(217, 244, 255), yellow);
  position: fixed;
  right: 0;
  top: 60px;
  float: left;
  .myname {
    display: block;
    text-decoration: none;
  }
  .out {
    display: block;
    text-decoration: none;
  }
}

