* {
  box-sizing: border-box;
}

header {
  font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
  height: 60px;
  width: 100vw;
  position: fixed;
  background: linear-gradient(yellow, rgb(247, 253, 255), yellow);
  z-index: 1;
  text-align: center;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: yellow;
  }
}

.content{
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  height: 100%;
  .view {
    font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    right: 300px;
    z-index: 1;
    background: linear-gradient(-520deg, rgba(201, 255, 251, 0.904), rgba(247, 253, 255, 0.904), rgba(255, 255, 151, 0.904));
    h4 {
      position: relative;
      left: 230px;
      margin-right: 200px;
    }
    input {
      display: block;
      float: right;
    }
  }

  .questions {
    width: 100%;
    height: 100%;
    padding: 40px 60px 150px;
    position: relative;
    top: 96px;
    background-color: rgb(255, 255, 230);
    .question {
      position: relative;
      text-decoration: none;
      height: 200px;
      margin: 0 auto 30px;
      padding-left: 30px;
      padding-right: 10px;
      border-top: dashed 5px rgb(255, 213, 134);
      border-bottom: dashed 5px rgb(255, 213, 134);
      background-color: rgb(255, 242, 219);
      overflow: scroll;
      &__text {
        word-break: break-all;
        padding-top: 15px;
        width: 800px;
        height: 100%;
        float: left;
        border-right: ridge 5px rgb(255, 244, 214);
        .question-helpman{
          width: 160px;
          background-color: rgb(228, 190, 213);
          margin: 0 0;
          color: yellow;
          font-size: 200%;
          font-weight: 6;
          transform: rotate(-10deg);
          position: relative;
          left: -35px;
          top: -15px;
        }
        .question__title {
          color: rgb(110, 110, 110);
          font-size: 120%;
          font-weight: 450;
        }
      }
      &__user {
        float: right;
        width: 160px;
        word-break: break-all;
        padding-top: 15px;
      }
    }
    .pagenation {
      .page.current {
        margin: 0 1px;
      }
      .page {
        margin: 0 1px;
      }
    }
  }
  .rec {
    display: block;
    position: fixed;
    color: rgb(255, 255, 255);
    font-weight: 700;
    -webkit-text-stroke: 0.2px rgb(146, 19, 119);
    text-align: center;
    bottom: 50px;
    right: 360px;
    height: 100px;
    width: 200px;
    z-index: 2;
    background: linear-gradient(-520deg, rgb(255, 185, 249), rgb(212, 244, 255));
    padding: 40px 30px;
    text-decoration: none;
    border-radius: 60px;
  }
}

.side-ber {
  width: 300px;
  height: 100vh;
  // background-color: linear-gradient(#05FBFF, yellow);
  background: linear-gradient(rgb(217, 244, 255), yellow);
  position: fixed;
  right: 0;
  top: 60px;
  float: left;
  .myname {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 130%;
    font-weight: 550;
    background: -webkit-linear-gradient(100deg, rgb(23, 255, 178), rgb(151, 243, 255), rgb(55, 182, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .out {
    display: block;
    text-decoration: none;
    font-size: 130%;
    font-weight: 550;
    color: red;
  }

  .category-selection {
    margin-top: 35px;
    margin-left: 50px;
    .category-nal {
    font-size: 130%;
    font-weight: 550;
    background: -webkit-linear-gradient(90deg, rgb(23, 240, 255), rgb(92, 33, 255), rgb(255, 55, 178));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .category-min {
      display: block;
      margin: 3px;
    }
  }
  .ranking {
    margin-top: 35px;
    text-align: center;
    font-size: 135%;
    font-weight: 550;
    background: -webkit-linear-gradient(90deg, rgb(255, 23, 23), rgb(255, 196, 33), rgb(235, 255, 55));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    a {
      border-bottom: double 3px red;
    }
  }
}



// ランキング画面です
.questions-ran {
  width: 100%;
  height: 100%;
  padding: 40px 60px 150px;
  position: relative;
  top: 96px;
  background-color: rgb(255, 86, 64);
  // background-image: url(labit.jpg);
  .rank {
    .come.nal {
      font-size: 70%;
      margin-top: 2px;
      float: right;
    }
  }
  .question-rank {
    position: relative;
    text-decoration: none;
    height: 200px;
    margin: 30px auto 30px;
    padding-left: 30px;
    padding-right: 10px;
    border-top: dashed 5px rgb(255, 213, 134);
    border-bottom: dashed 5px rgb(255, 213, 134);
    background-color: rgb(255, 226, 219);
    overflow: scroll;
    &__text {
      word-break: break-all;
      padding-top: 15px;
      width: 800px;
      height: 100%;
      float: left;
      border-right: ridge 5px rgb(255, 244, 214);
      .question-helpman-1{
        width: 130px;
        background: linear-gradient(rgb(202, 202, 0), rgb(255, 255, 255), rgb(202, 202, 0));
        margin: 0 0;
        color: red;
        font-size: 200%;
        font-weight: 6;
        // transform: rotate(-10deg);
        position: relative;
        left: -25px;
        top: -15px;
      }
      .question-helpman-2{
        width: 130px;
        background: linear-gradient(rgb(120, 126, 134), rgb(255, 255, 255), rgb(120, 126, 134));
        margin: 0 0;
        color: red;
        font-size: 200%;
        font-weight: 6;
        // transform: rotate(-10deg);
        position: relative;
        left: -25px;
        top: -15px;
      }
      .question-helpman-3{
        width: 130px;
        background: linear-gradient(rgb(179, 107, 0), rgb(255, 255, 255), rgb(179, 107, 0));
        margin: 0 0;
        color: red;
        font-size: 200%;
        font-weight: 6;
        // transform: rotate(-10deg);
        position: relative;
        left: -25px;
        top: -15px;
      }
      .question-helpman-10{
        width: 130px;
        background: linear-gradient(rgb(164, 0, 179), rgb(255, 255, 255), rgb(164, 0, 170));
        margin: 0 0;
        color: red;
        font-size: 200%;
        font-weight: 6;
        // transform: rotate(-10deg);
        position: relative;
        left: -25px;
        top: -15px;
      }
      .question-helpman{
        width: 130px;
        background-color: rgb(255, 25, 25);
        margin: 0 0;
        color: rgb(255, 255, 255);
        font-size: 200%;
        font-weight: 6;
        // transform: rotate(-10deg);
        position: relative;
        left: -25px;
        top: -15px;
      }
      .question__title {
        color: rgb(110, 110, 110);
        font-size: 120%;
        font-weight: 450;
      }
    }
    &__user {
      float: right;
      width: 160px;
      word-break: break-all;
      padding-top: 15px;
    }
  }
}

#day-btn {
  background-color: orange;
}

#all {
  display: none;
}
#week {
  display: none;
}
#month {
  display: none;
}

.yatta-man1 {
  position: absolute;
}
.yatta-man2 {
  position: absolute;
}
.yatta-man3 {
  position: absolute;
}
.yatta-man4 {
  position: absolute;
}
.yatta-man5 {
  position: absolute;
}
.yatta-man6 {
  position: absolute;
}
.yatta-man7 {
  position: absolute;
}
.yatta-man8 {
  position: absolute;
}
.yatta-man9 {
  position: absolute;
}
.yatta-man10 {
  position: absolute;
}