* {
  box-sizing: border-box;
}

.content-show {
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  height: 100%;
  .view {
    font-family: "游教科書体 横用","YuKyokasho Yoko"; font-weight: bold;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    right: 300px;
    z-index: 1;
    background: linear-gradient(-520deg, rgba(201, 255, 251, 0.904), rgba(247, 253, 255, 0.904), rgba(255, 255, 151, 0.904));
    h4 {
      position: relative;
      left: 230px;
      margin-right: 200px;
    }
  }
}

.usersquestion__body {
  width: 100%;
  height: 100%;
  padding: 40px 90px;
  position: relative;
  top: 96px;
  margin-bottom: 30px;
  .question__time {
    position: absolute;
    bottom: 0;
    right: 50px;
  }
}

.answers {
  width: 100%;
  height: 100%;
  padding: 30px 90px;
  position: relative;
  top: 96px;
  margin-bottom: 30px;
  .tenkoeitiran {
    color: yellow;
    text-align: center;
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
  }
  .answers-show {
    padding: 30px 30px;
    margin-top: 70px;
    width: 100%;
    border: dotted #ffe600;
    .answer-myname {
      display: block;
    }
    .answer-is-current_user {
      color: rgb(139, 218, 21);
    }
  }
}

.answer-form-gun {
  width: 100%;
  height: 100%;
  padding: 30px 90px;
  position: relative;
  top: 96px;
  margin-bottom: 30px;
  display: block;
  .answer-form {
    display: block;
    position: relative;
    left: 90px
  }
  .submit-btn {
    display: block;
    position: relative;
    left: 90px;
    bottom: 5px;
  }
}

#post-font {
  color: rgb(110, 110, 110);
}

.comment-nal {
  color: yellow;
  text-align: center;
  -webkit-text-stroke: 0.4px rgb(0, 0, 0);
}

