.devise {
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  padding: 50px 20px;
}

.new_user {
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  padding: 50px 20px;
}

.edit_user {
  width: calc(100vw - 300px);
  float: left;
  position: relative;
  top: 60px;
  padding: 50px 20px;
}

.user_data {
  margin-bottom: 70px;
  padding: 50px 50px;
  border: solid 6px rgb(247, 122, 122);
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  // background-color: white;
  background-image: url(feather.jpg);
  &__name {
    margin-bottom: 30px;
    .o-name {
    }
    &--nickname {
      margin-top: 10px;
      font-size: 250%;
      font-weight: 600;
      background: -webkit-linear-gradient(90deg, rgb(221, 255, 31), rgb(34, 240, 255));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__hitokoto {
    padding-top: 20px;
    margin-bottom: 30px;
    border-top: solid 1px black;
    .o-hitokoto {
    }
    &--comment {
      font-size: 150%;
      margin-top: 10px;
      margin-right: 180px;
      font-weight: 550;
      background: -webkit-linear-gradient(85deg, rgb(31, 109, 255), rgb(255, 38, 208));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--edit {
      float: right;
      position: relative;
      bottom: 80px;
    }
  }
  &__question {
    padding-top: 20px;
    border-top: solid 1px black;
    &--count {
      font-size: 200%;
      font-weight: 550;
      background: -webkit-linear-gradient(87deg, rgb(202, 26, 255), rgb(255, 29, 29));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__answer {
    padding-top: 20px;
    border-top: solid 1px black;
    &--count {
      font-size: 200%;
      font-weight: 550;
      background: -webkit-linear-gradient(87deg, rgb(202, 26, 255), rgb(255, 29, 29));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__like {
    padding-top: 20px;
    border-top: solid 1px black;
    &--count {
      font-size: 200%;
      font-weight: 550;
      background: -webkit-linear-gradient(87deg, rgb(202, 26, 255), rgb(255, 29, 29));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } 
  }
  &__liked {
    padding-top: 20px;
    border-top: solid 1px black;
    &--count {
      font-size: 200%;
      font-weight: 550;
      background: -webkit-linear-gradient(87deg, rgb(202, 26, 255), rgb(255, 29, 29));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}